[build]
publish = "."
functions = "netlify/functions"

[functions]
node_bundler = "esbuild"
external_node_modules = ["@neondatabase/serverless"]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200